body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#number-form {
    margin: 20px auto;
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#result-container {
    margin: 20px auto;
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#window-prev-state, #window-curr-state, #numbers, #avg {
    margin-bottom: 10px;
}